@use "./mixins/responsive" as *;
body {
  width: 100%;
}

.sectionWrapper {
  margin-inline: auto;
  width: min(80%, 1300px);
  margin-bottom: 3rem;
}

.sectionWrapper--wide {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
}

.header {
  background-color: #5d6a5c;
}

.headerTitleWrapper {
  padding-inline: 16px;
}

.headerTitle {
  line-height: 50px;
}

.topImage {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.cardWrapper {
  display: block;
  @include responsive(md) {
    display: flex;
  }

  background-color: white;
  justify-content: center;
}

.card {
  padding: 0rem 1rem;
  width: 80%;
  @include responsive(md) {
    width: 50%;
  }
  margin-inline: auto;
}

@include responsive(md) {
  .card:not(:last-child) {
    margin-right: 1rem;
  }
}

.card__img {
  width: 100%;
}

.card__txt {
  margin-top: 1rem;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.card__txt--normal {
  color: #34ba2d;
}

.card__txt--alert {
  color: #ff0000;
}

.list {
  list-style: none;
}

.list__item--strong {
  font-size: 21px;
  line-height: 34px;
}

.list__item:not(:last-child) {
  margin-bottom: 1rem;
}

.inquiryWrapper {
  margin-bottom: 2rem;
}
.inquiryLink {
  display: inline-block;
  background-color: yellowgreen;
  padding: 1rem 2rem;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
